In [1]:
import pandas as pd

In [11]:
energy = pd.read_excel('Energy Indicators.xls', skip_footer=38, skiprows=17)
energy.head()

C:\Users\tejas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the 'skip_footer' keyword is deprecated, use 'skipfooter' instead
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

In [12]:
energy=energy.drop(['Unnamed: 0','Unnamed: 1'], axis=1)
col_names = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy.columns = col_names

In [13]:
import numpy as np
energy[energy['Energy Supply'] == '...']= np.NaN
energy.head()

       Country Energy Supply Energy Supply per Capita  % Renewable
0  Afghanistan           321                       10     78.66928
1      Albania           102                       35    100.00000
2      Algeria          1959                       51      0.55101
3          NaN           NaN                      NaN          NaN
4      Andorra             9                      121     88.69565

In [14]:
energy[['Energy Supply', 'Energy Supply per Capita']] = energy[['Energy Supply', 'Energy Supply per Capita']].apply(pd.to_numeric)
energy['Energy Supply'] = energy['Energy Supply']*10**6
energy['Country'] = energy['Country'].str.replace(r" \(.*\)","")
energy['Country'] = energy['Country'].str.replace(r"([0-9]+)$","")
replace_dict={"Republic of Korea": "South Korea","United States of America": "United States",
                  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                  "China, Hong Kong Special Administrative Region": "Hong Kong"}
energy['Country'].replace(to_replace=replace_dict, inplace=True)
energy.reset_index()
energy = energy.set_index('Country')

In [31]:
GDP = pd.read_csv('world_bank.csv', skiprows=4)
replace_dict = {"Korea, Rep.": "South Korea", 
                    "Iran, Islamic Rep.": "Iran",
                    "Hong Kong SAR, China": "Hong Kong"
                   }
GDP['Country Name'].replace(to_replace=replace_dict, inplace=True)
years_to_keep = np.arange(2006, 2016).astype(str)
GDP = GDP[np.append(['Country Name'],years_to_keep)]
GDP.reset_index()
GDP = GDP.rename(columns={'Country Name': 'Country'})
GDP = GDP.set_index('Country')
    
ScimEn = pd.read_excel('scimagojr.xlsx', header=0)
ScimEn.reset_index()
ScimEn = ScimEn.set_index('Country')
first_merge = pd.merge(energy, GDP, how='outer', left_index=True, right_index=True)
result = pd.merge(ScimEn, first_merge, how='outer', left_index=True, right_index=True)
result = result.reset_index().dropna(thresh=result.shape[1]-10).set_index('Country')
result = result.loc[result['Rank']<=15]
result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14.0,14907.0,14564.0,196567.0,34134.0,13.19,143.0,5.386000e+09,231.0,11.810810,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12
Brazil,13.0,15332.0,15132.0,118483.0,28818.0,7.73,109.0,1.214900e+10,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12
Canada,8.0,26148.0,25571.0,395467.0,74112.0,15.12,193.0,1.043100e+10,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12
China,1.0,193483.0,192270.0,1355524.0,927458.0,7.01,196.0,1.271910e+11,93.0,19.754910,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13
France,9.0,19696.0,19214.0,238639.0,48462.0,12.12,152.0,1.059700e+10,166.0,17.020280,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Germany,6.0,27966.0,27370.0,278237.0,59495.0,9.95,166.0,1.326100e+10,165.0,17.901530,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.360550e+12
India,5.0,32064.0,31167.0,268746.0,87658.0,8.38,153.0,3.319500e+10,26.0,14.969080,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Iran,12.0,15614.0,15334.0,160505.0,51493.0,10.28,108.0,9.172000e+09,119.0,5.707721,2.662989e+11,3.498816e+11,4.060709e+11,4.140591e+11,4.870696e+11,5.835004e+11,5.988534e+11,4.674149e+11,4.344746e+11,3.858745e+11
Italy,10.0,18773.0,17987.0,221652.0,54282.0,11.81,135.0,6.530000e+09,109.0,33.667230,1.947920e+12,2.210293e+12,2.398857e+12,2.191242e+12,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12
Japan,3.0,41188.0,40775.0,357829.0,93375.0,8.69,166.0,1.898400e+10,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12
Russian Federation,7.0,26435.0,26196.0,68424.0,29544.0,2.59,75.0,3.070900e+10,214.0,17.288680,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12
South Korea,11.0,18217.0,17994.0,208150.0,39811.0,11.43,132.0,1.100700e+10,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Spain,15.0,14204.0,13916.0,233955.0,42632.0,16.47,149.0,4.923000e+09,106.0,37.968590,1.259344e+12,1.472131e+12,1.625225e+12,1.485583e+12,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12
United Kingdom,4.0,33293.0,32300.0,405816.0,77019.0,12.19,185.0,7.920000e+09,124.0,10.600470,2.713750e+12,3.100882e+12,2.922667e+12,2.410910e+12,2.475244e+12,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12
United States,2.0,143130.0,139924.0,1551044.0,530169.0,10.84,301.0,9.083800e+10,286.0,11.570980,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13

In [32]:
result = result.reset_index().dropna(thresh=result.shape[1]-10).set_index('Country')
result
result = result.shape[0]-15
print(result)

0